<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454059194509-1mh7jnu4kcl08ebpjtln2lo6drr4lo5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454059194509-1mh7jnu4kcl08ebpjtln2lo6drr4lo5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCJftK62nYVHIlSD8lXk359MLP07fhb4KU</string>
	<key>GCM_SENDER_ID</key>
	<string>454059194509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helius.heliusapp</string>
	<key>PROJECT_ID</key>
	<string>helius-1983c</string>
	<key>STORAGE_BUCKET</key>
	<string>helius-1983c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454059194509:ios:5d28647f1edc7339f30ac4</string>
	<key>DATABASE_URL</key>
	<string>https://helius-1983c.firebaseio.com</string>
</dict>
</plist>